<div class="container-fluid">
  <div class="inside-width">
    <h4 class="text-center nav-head">New Group</h4>

    <%= render 'form', group: @group %>
    <%= link_to 'Back', groups_path %>
  </div>
</div>
