<div class="background-profile container-fluid pt-4 ">
  <div class="inside-width">
    <div class="jumbotron" id="jumbotron">
      <h2 class="">Transactions Traker!</h2>
      <p>Know your transactions at your finger tips.</p>

      <hr class="">

      <div class="row">
        <div class="col-6">
          <%= link_to "Create Account", new_user_registration_path, class:"btn btn-warning btn-lg btn-block" %>
        </div>
        <div class="col-6">
          <%= link_to "Sign in", new_user_session_path, class:"btn btn-success btn-lg btn-block" %>
        </div>
      </div>
    </div>
  </div>
</div>
