html {
  height: 100%;
  min-width: 375px;
}

body {
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 375px;
  overflow-x: hidden;
  background-color: rgb(241, 243, 242);
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

label {
  display: block;
}

.background-profile {
  width: 100%;
  min-width: 375px;
  min-height: 100%;
}

.blue-bg {
  background: linear-gradient(15deg, rgba(48,132,193,1) 0%, rgba(19,50,94,1) 100%);
  padding: 50px 50px 80px 40px;
}

.cont-background {
  height: 110px;
  background: rgb(37, 103, 157);
  min-width: 375px;
}

.card-transaction{
  width: 95%;
  min-width: 375px;
}

.total-card-transaction{
  margin-top: 35%;
  min-width: 375px;
}

.cont-button{
  background: rgb(95, 181, 35);
  min-height: 76px;
  min-width: 375px;

}

.espace-button{
  min-height: 60px;
  min-width: 375px !important;
}

.hiden-line {
  visibility: hidden;
}

.group-spacer {
  padding-top: 115px;
  visibility: hidden;
}

.button-transaction{
  margin-top: 10px;
  margin-bottom: 8px;
}

.button-group{
  margin-top: 10px;
  margin-bottom: 25px;
}

.text-grey{
  color: lightgray;
}

.sticky-container{
  min-height: 88%;
  background-color: rgb(241, 243, 242);
}

.sticky-container2{
  min-height: 100%;
  background-color: rgb(241, 243, 242);
}

.inside-width {
  width: 50%;
  margin: 0 auto;
}

.logout-btn {
  background: #60b524;
  color: white;
  font-size: 14px;
}

input, label {
  width: 100%;
}

label {
  font-size: 14px;
}

input {
  height: 45px;
}

input[type="checkbox"] {
  height: 20px;
  width: 20px;
  margin: 0 15px 0 0;
}

form {
  background: #f5f6f8;
  padding: 30px 0 50px;
}

.form-inputs,
.form-actions {
  padding: 0 70px;
}

.nav-head {
  background: #25679d;
  color: white;
  margin-bottom: 0;
  margin-top: 0;
  padding: 15px 0;
}

.span-pad {
  padding-left: 4px;
  padding-right: 4px;
}

#jumbotron {
  background: linear-gradient(15deg, rgba(48,132,193,1) 0%, rgba(19,50,94,1) 100%);
  border: 1px solid #ccc;
}

.jumbotron > h2:nth-child(1),
.jumbotron > p:nth-child(2) {
  color: #ccc;
}

.new-trans-btn {
  height: 45px;
  margin-top: 25px;
}

.greyed-bg {
  background: #f1f3f2;
  padding-bottom: 20px;
}

.nav-head span {
  float: left;
  margin: 0 0 0 20px;
}

input[type="radio"] {
    height: 14px;
}

.blue-colored {
  color: #25679d;
}

select {
  height: 45px;
  width: 100%;
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 3rem 2rem;
  }
}
