<div class="container-fluid pt-4 ">
  <div class="inside-width">
    <h4 class="text-center nav-head">Add New Transaction</h4>

    <%= render 'form', transaction: @transaction %>

    <%= link_to 'Back', transactions_path %>
  </div>
</div>
